.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 30px;
  align-items: center;
  border: 1px solid #1ed15e;
}

.header__left > .MuiSvgIcon-root {
  color: black;
}

.header__left > input {
  border: none;
  width: 100%;
  outline: none;
}

.header__right > h4 {
  margin-left: 10px;
}
